<div class="mdl-grid search">
    <p>Que recherchez vous?</p>
    <div class="searchBar">
        <select [(ngModel)]="selectedScope" name="scope">
            <option value="/employees">Personne</option>
        </select>
        <md-input-container class="search-input">
            <input md-input #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" autocomplete="off" />
            <md-icon md-suffix>search</md-icon>
        </md-input-container>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col ">
        <div class="indicators">
            <md-icon md-suffix>insert_drive_file</md-icon>
            <span>45328</span>
            <p><b>Les documents</b> sont extraits des répertoires réseaux Projet et Commerce</p>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col ">
        <div class="indicators">
            <md-icon md-suffix>person</md-icon>
            <span>327</span>
            <p><b>Les personnes</b> sont extraites directement du répertoire de Klee</p>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col ">
        <div class="indicators">
            <md-icon md-suffix>account_balance</md-icon>
            <span></span>
            <p></p>
        </div>
    </div>
</div>
<div class="mdl-grid footer">
</div>